HASH_ALGORITHM=bcrypt
BCRYPT_COST=14

# HASH_ALGORITHM=scrypt
# SCRYPT_COST=14
# SCRYPT_BLOCK_SIZE=8
# SCRYPT_PARALLELIZATION=1

USERNAME_EMAIL_REQUIRED=false
# USERNAME_ONLY_REQUIRED=true
# EMAIL_ONLY_REQUIRED=false