<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth1 Example Application</title>
    <style type="text/css">
        a { color: #555; }
        a:visited { color: #555; }
        a:hover { color: #777; }​
    </style>
</head>
<body>
    <h1>Auth1 Example Application</h1>
    <p>Logged in successfully.</p>
    <p>User ID: <span style="text-decoration: underline;">{{ user_id }}</span></p>
    <p id="cookie-p"></p>

    <div><a href = "{{ url_for('create_totp') }}">Set up TOTP</a></div>
    <div><a href = "{{ url_for('logout') }}">Log out</a></div>

    <script type="text/javascript">
        let tokenCookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)token\s*\=\s*([^;]*).*$)|^.*$/, "$1");
        document.getElementById("cookie-p").innerHTML = 'Token cookie: <span style="text-decoration: underline;">' + tokenCookieValue + '</span>'
    </script>
</body>
</html>