<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Auth1 Example Application</title>
    <style type="text/css">
        #login-container {
            background-color: #f1f1f1;
            display: table;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            padding: 10px;
            border: 2px solid #d1d1d1;
        }
    </style>
</head>

<body>
    <form action="{{ url_for('login') }}" method="post">
        <div id="login-container">
            <h1>Login</h1>
            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            <div style="color: darkred;margin-bottom: 15px;">
                {{ message }}
            </div>
            {% endfor %}
            {% endwith %}

            <table cellpadding="5px" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td style="text-align: right;"><label for="username"><b>Username</b></label></td>
                        <td><input type="text" placeholder="Enter Username" name="username"></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"><label for="password"><b>Password</b></label></td>
                        <td><input type="password" placeholder="Enter Password" name="password"></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"><label for="totp"><b>TOTP Code (Optional)</b></label></td>
                        <td><input type="password" placeholder="TOTP Code" name="totp"></td>
                        <td><button type="submit" style="font-size: 1.2em; margin-left: 10px;">Login</button></td>
                    </tr>
                    <tr>
                        <td>or <a href = "{{ url_for('register_page') }}">create new account</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>

</html>
