<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Auth1 Example Application</title>
    <style type="text/css">
        #login-container {
            background-color: #f1f1f1;
            display: table;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            padding: 10px;
            border: 2px solid #d1d1d1;
        }
    </style>
</head>

<body>
    <form action="{{ url_for('login') }}" method="post">
        <div id="login-container">
            <h1>Login</h1>
            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            <div style="color: darkred;margin-bottom: 15px;">
                {{ message }}
            </div>
            {% endfor %}
            {% endwith %}
            <div>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username">
            </div>

            <div>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password">
                <button type="submit" style="font-size: 1.5em; margin-left: 10px;">Login</button>
            </div>
        </div>
    </form>
</body>

</html>
