HASH_ALGORITHM=bcrypt
BCRYPT_COST=14

# HASH_ALGORITHM=scrypt
# SCRYPT_COST=14
# SCRYPT_BLOCK_SIZE=8
# SCRYPT_PARALLELIZATION=1

REQUIRED_USER_FIELDS=USERNAME_AND_EMAIL
# REQUIRED_USER_FIELDS=USERNAME_ONLY
# REQUIRED_USER_FIELDS=EMAIL_ONLY

EMAIL_VERIFICATION_REQUIRED=false